<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>controle.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarSolicitacao</servlet-name>
        <servlet-class>controle.VerificarSolicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarSolicitacoes</servlet-name>
        <servlet-class>controle.VerificarSolicitacoes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSolicitacao</servlet-name>
        <url-pattern>/VerificarSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSolicitacoes</servlet-name>
        <url-pattern>/VerificarSolicitacoes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
